<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}">
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
    <body style="background-color:honeydew;">
        <div class="body-container">
            <div class="row" style="background-color:darkslategrey;">
                <div class="col-mad-3" style="width: 20%;">
                    <div>
                        <img src="{% static 'home/logo.jpg' %}" alt="yursop" id="comp-logo">
                    </div>
                </div>
                <div class="col-mad-3" style="width: 60%;">
                    <div>
                        <form action="#">
                            <input type="text" placeholder="Search" id="search">
                            <input type="submit" value="Search" id="search-btn">
                        </form>
                    </div>
                </div>
                <div class="col-mad-3" style=" width: 20%;">
                    <div>
                        <a href="{% url 'login' %}" class="btn btn-primary" id="acc-btn">Login </a>
                        <a href="{% url 'register' %}" class="btn btn-primary" id="acc-btn">Registar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Body of website -->
        <div class="container">
            <div class="row">
                {% for products in product_details %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ products.images.url }}" alt="Avatar" style= "margin: 2px; height: 150px;">
                        <div class="prod-container">
                          <h4><b>{{ products.title }}</b></h4> 
                          <p>{{ products.descripton }}</p> 
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ products.images.url }}" alt="Avatar" style= "margin: 2px; height: 150px;">
                        <div class="prod-container">
                          <h4><b>{{ products.title }}</b></h4> 
                          <p>{{ products.descripton }}</p> 
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ products.images.url }}" alt="Avatar" style= "margin: 2px; height: 150px;">
                        <div class="prod-container">
                          <h4><b>{{ products.title }}</b></h4> 
                          <p>{{ products.descripton }}</p> 
                        </div>
                      </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Footer part of website -->
        <div class="footer-container">
                <nav>
                    <div class="site-dtls">
                        <a href="">About</a>
                        <a href="">Help</a>
                        <a href="">Policy</a>
                        <a href="">Social</a>
                    </div>
                    <div class="org-dtls">
                        <a href="">Mail Us</a>
                        <a href="">Registared Office Address</a>
                    </div>
                </nav>
        </div>
    </body>
</html>