/* Header fo website */
#comp-logo{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.705);
    width: 110%;
    height: 50px;
    padding: 2px;
}

#search{
    width: 80%;
    border-radius: 10px;
    border-color: blue;
    padding: 2px;
}
#search-btn{
    width: 10%;
    border-radius: 10px;
    border-color: blue;
    padding: 2px;
    margin: 5px;
}
#acc-btn{
    width: 40%;
    margin: 5px;
    border-radius: 10px;
    padding: 2px;

}
/* Body CSS */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.705);
    transition: 0.3s;   
    margin: 5px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .prod-container {
    padding: 2px 16px;
  }


.footer-container{
    height: 70px;
    margin-top: auto;
    margin-bottom: 0%;
    border-radius: 20px;
    background-color:darkslategrey;
    font-size: 20px;
    display:flex;
}

.footer-container .site-dtls{
    display: inline;
}
.footer-container .org-dtls{
    display: inline;
    margin-left: 500px;
}

.footer-container .site-dtls a{
    padding: 20px;
}
.footer-container .org-dtls a{
    padding-left: 20px;
}

