<html>
    <head>
        {% load static %}
        <!-- CSS only -->
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/login.css' %}">
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
    <body style="background-color:honeydew;">
        <div class="login-form">
            <form action="/login" method="POST">
                <table>
                    <tr>
                        <th>Username:</th>
                        <td><input type="text" name="uname" placeholder="Enter username" required></td>
                    </tr>
                    <tr>
                        <th>Password:</th>
                        <td><input type="password" name="upass" placeholder="Enter password" required></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Login" id="btn"></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>