<html>
    <head>
        {% load static %}
        <!-- CSS only -->
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/register.css' %}">
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
    <body style="background-color:honeydew;">
        <div class="register-form">
            <form action="/register" method="POST">
                <table>
                    <tr>
                        <th>First name:</th>
                        <td><input type="text" name="fname" placeholder="Enter First name"></td>
                    </tr>
                    <tr>
                        <th>Last name:</th>
                        <td><input type="text" name="lname" placeholder="Enter Last name"></td>
                    </tr>
                    <tr>
                        <th>Email ID:</th>
                        <td><input type="email" name="email" placeholder="Enter Email Id"></td>
                    </tr>
                    <tr>
                        <th>Username:</th>
                        <td><input type="text" name="uname" placeholder="Enter username"></td>
                    </tr>
                    <tr>
                        <th>Password:</th>
                        <td><input type="password" name="upass" placeholder="Enter password"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Registar" id="btn"></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>