.login-form{
    background-color: darkslategrey;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 10%;
    border-radius: 25%;
    padding-top: 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}

table{
    width: 100%;
    height: 80%;
}

td,th{
    height: 10%;
    padding-left: 9%;
    font-size: 150%;
    color: white;
    
}
input{
    border-color: blue;
    border-radius: 10%;
    height: 50%;
    /* padding: 5%; */
    text-align: center;
}

input:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transition: 00.3s;

}
