.register-form{
    background-color: darkslategrey;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    height: 50%;
    border-radius: 20%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

table{
    width: 80%;
    height: 100%;
    margin: 15%;
    
}

input{
    border-color: blue;
    border-radius: 10%;
    height: 100%;
    width: 80%;
    text-align: center;
}

input:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transition: 00.3s;

}

#btn{
    width: 30%;
}

th{
    color: white;
}